.square{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 5px, white;
    margin: auto;

}

.white{
    background-color: white;
}
.black{
    background-color: black;
}


#chessboard{
    width: auto;
    height: auto;
    display: flex;

}